body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.spaceBetween {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.dogImage {
  object-fit: contain;
  display: block;
}

.thumbnail {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

.m-1 {
  margin: 4px;
}

.m-2 {
  margin: 8px;
}

.desktop {
  display: flex;
}
.mobile {
  display: none;
}
@media (max-width: 700px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
}
